<% if params.empty? %>
<h2> Let's find a random image for the following keyword: </h2>
	<form>

    <input type="text" placeholder="Nicolas Cage..." name="query">

    <button type="submit" class="btn">Get random image!</button>

</form>




<% elsif @src.nil? %>

	<p> Sorry, that symbol was not found. Please <a class="btn btn-success " href="/images">try another</a> </p>


<% else %>

	<h3> You asked for it! A random image of "<%= @q %>" </h3>
	<div class="row-fluid">
		<div class="span10 offset1">
		<img src="<%= @src %>" alt="an image pertaining to <%= @q %>">
	</div>
	</div>


	<div class="row-fluid"> 
			<a class="btn btn-large btn-success center" href="/images"> Try again? </a> 
	</div>


<% end %>