<h1> Wecome to the Gem-Tastic Playground!</h1>

<p> Here, we will use a handful of web magic to do some fairly useless things for our own amusement. Please choose one of the above categories to check out some stocks, movies, or images. </p>

<p><strong> So pop some popcorn with extra butter, turn on Jim Cramer, and fire up Photoshop.... </strong> </p>

<div class="row-fluid">
	<div class="span4 main_triple">
		<a class="btn btn-success" href="/movies"> Movies </a>
	</div> 
	<div class="span4">
		<a class="btn btn-success" href="/stocks"> Stocks </a>
	</div> 
	<div class="span4">
		<a class="btn btn-success" href="/images"> Images </a>
	</div> 
	
</div>
