<html>
	<head>

		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="custom.css">
		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
		<title>Gem-Tastic!</title>
	</head>

	<body>
	
		<div class="container-narrow">
			<div class="masthead">
					<ul class="nav nav-pills pull-right">
			          <li><a href="/">Home</a></li>
			          <li><a href="/movies">Movies</a></li>
			          <li><a href="/stocks">Stocks</a></li>
			          <li><a href="/images">Images</a></li>
			        </ul>
			        <h3 class="muted"> Gem-tastic!</h3>
			</div>
			<hr>
			<%= yield %>
			<hr>
			<div class="footer row-fluid">
			<div class=" muted center span12"> Made by Isaac, with the help of <a href="http://twitter.github.com/"> Bootstrap by Twitter</a> &copy; 2013
			</div>
		</div>
		</div>
	</body>
</html>
